$BC-blue-opacity: #186BE8;
$BC-green-opacity: #B5CACE; 
$BC-white: #F8F9FA;
$BC-blue: #2E3C61;
$BC-black-light: #222222; 
$TC-black: #000;
$TC-green: #5EDCD4; 
$TC-yellow: #CB935D;
$TC-white: #FFF;
$TC-gray: #B5CACE; 
$Font: "Raleway", sans-serif;
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $Font;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dichVu-container{
    .dichVu-device{
        .container-header {
            position: relative;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
      
            .container-header-bg {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: url('../../assets/background2.jpeg');  
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              filter: blur(2px);
              opacity: 0.8;
              z-index: 1;
            }
      
            .container-header-content {
              position: absolute;
              top: 35%;
              right: 10%;
              z-index: 2;
              color: $TC-white;
              display: flex;
              flex-direction: column;
              align-items: flex-end;
      
              h1 {
                font-size: 48px;
                font-weight: 900;
                margin-bottom: 5px;
      
                span {
                  color: $TC-yellow;
                }
              }
            }
        }
        .container-body{
              .container-body-content{
                padding: 50px 30px 10px 30px;
                display: flex; 
                align-items: center;
                justify-content: center;

                .body{
                    display: grid;
                    grid-template-rows: repeat(2, auto);
                    grid-template-columns: repeat(2, auto);
                    column-gap: 10px;
                    margin-left: 20px;
                    padding: 0;
                    .small-container{
                        h1{
                            font-size: 35px;
                            width: 500px;
                            color: $TC-white;
                            padding-bottom: 10px;
                            padding-top: 10px;
                        }
                        span{
                            color:$TC-yellow;
                        }
                        .small-container-description{
                            p{
                                width: 500px;
                                font-weight: 300;
                                color: $TC-white;
                                line-height: 1.6;
                                cursor: pointer;
        
                                &:hover{
                                    color: $TC-yellow;
                                    font-weight: 300;
                                }
                            }
        
                        }
                    }
                }
              } 

        }
    }
}