$BC-white: #F8F9FA;
$BC-blue: #2E3C61;
$BC-blue-opacity: #186BE8;
$BC-green-opacity: #B5CACE;
$BC-black-light: #222222;
$TC-black: #000;
$TC-green: #5EDCD4;
$TC-yellow: #CB935D;
$TC-white: #FFF;
$TC-gray: #B5CACE;
$Font: "Raleway", sans-serif;

.intro-lawyers {
  padding: 50px 100px;
  text-align: center;
  font-family: $Font;

  h2 {
    font-size: 36px;
    font-weight: 700;
    color: $TC-white;
    margin-bottom: 40px;
  }

  .intro-lawyers__grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    .intro-lawyers__card {
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba($BC-blue, 0.5);
      border-radius: 15px;
      overflow: hidden;
      transition: transform 0.3s ease;
      padding: 10px;

      &:hover {
        transform: translateY(-5px);
      }

      img {
        width: 230px;
        height: 140px;
        object-fit: cover;
        border-radius: 20px;
        margin-bottom: 15px;
      }

      .lawyer-decription {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        h3 {
          font-size: 20px;
          font-weight: 600;
          color: $TC-white;
          margin-bottom: 5px;
          width: 200px;
          cursor: pointer;

          &:hover {
            color: $TC-yellow;
          }
        }

        .short-description {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          padding-top: 5px;
          width: 220px;
          border-top: 1px solid $BC-green-opacity;
          gap: 5px;

          p {
            font-size: 10px;
            font-weight: 400;
            color: $TC-gray;
            margin: 0;
          }
        }
      }

      button {
        background-color: $BC-black-light;
        color: $TC-yellow;
        border: none;
        padding: 5px 10px;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 700;
        border-radius: 20px;
        cursor: pointer;
        width: 200px;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: $TC-yellow;
          color: $BC-blue;
        }
      }
    }
  }

  .intro-lawyers__footer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;

    button {
      width: 300px;
      background-color: $BC-black-light;
      border: 1px solid $BC-green-opacity;
      color: $BC-green-opacity;
      border-radius: 30px;
      height: 40px;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: $BC-green-opacity;
        color: $BC-black-light;
      }
    }
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  .intro-lawyers {
    padding: 40px 50px;

    .intro-lawyers__grid {
      gap: 20px;

      .intro-lawyers__card {
        img {
          width: 120px;
          height: 120px;
        }

        .lawyer-decription {
          h3 {
            font-size: 18px;
          }

          .short-description {
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .intro-lawyers {
    padding: 30px 20px;

    h2 {
      font-size: 28px;
    }

    .intro-lawyers__grid {
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .intro-lawyers__card {
        width: 100%;
        flex-direction: row;
        padding: 5px;
        align-items: center;

        img {
          width: 100px;
          height: 100px;
          margin-bottom: 0;
          margin-right: 5px;
        }

        .lawyer-decription {
          flex-direction: column;
          text-align: left;
          align-items: flex-start;

          h3 {
            font-size: 18px;
            width: auto;
          }

          .short-description {
            width: 100%;
            border-top: none;
            padding-top: 0;

            p {
              font-size: 10px;
              width: auto;
            }
          }
        }

        button {
          // width: auto;
          // padding: 6px 14px;
          // font-size: 11px;
          display: none; 
        }
      }
    }

    .intro-lawyers__footer {
      button {
        width: 250px;
        font-size: 14px;
      }
    }
  }
}