$BC-white: #F8F9FA;
$BC-gray: #EAECEE;
$BC-blue: #2E3C61;
$TC-black: #000;
$TC-yellow: #DAA520;
$TC-white:#FFF;
$Font: "Roboto", serif;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.carousel-background{
    // z-index: 0;
    height: 280px;
    background-color: $BC-blue;
    display: flex;
    align-items: center;
    // position: relative;

    .carousel-container{
        z-index: 1;
        width: 1000px; 
        max-width: 1000px; 
        margin: 0 auto; 
        border-radius: 10px;
        padding: 20px 0;      

        img{
            position: relative;
            width: 90%;
            z-index: 3 !important;
            height: auto;
            object-fit: cover;
            border-radius: 10px;
            display: flex;
            align-items: center;
            margin-left: 50px;
        }
    }
}