$BC-white: #F8F9FA;
$BC-gray: #EAECEE;
$BC-blue: #2E3C61;
$BC-yellow: #DAA520;
$TC-black: #000;
$TC-yellow: #DAA520;
$TC-white:#FFF;
$Font:  "Roboto", serif;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
    font-family: font;
    box-sizing: border-box;
    background-color: $BC-blue;

}
.adminLogin-container {
    height: 100vh; /* Use viewport height for full-screen height */
    background-image: url('../../assets/back-ground.png');  
    background-size: cover; /* Ensure the background image covers the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    width: 100%; /* Ensure it spans full width */
    display: flex; /* Optional: helps with centering content */
    justify-content: center; /* Optional: center horizontally */
    align-items: center; /* Optional: center vertically */

    .adminLogin-device{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        h2{
            font-size: 60px;
            color: $TC-white;
            margin-bottom: 10px;
        }
        form{
            background-color: $BC-white;
            width: 500px;
            height: 200px;
            border-radius: 50px;
            padding-left: 50px;
            padding-top: 30px;
    
            label{
                color: $BC-blue;
                line-height: 1.4;
                font-weight: 900;
                font-size: 30px;
                padding-right: 10px;
            }
            input{
                font-size: 20px;
                border: none;
                color: $TC-black;
                background-color: $BC-gray;
                padding: 8px;
                border-radius: 20px;
            }
            button{
                margin-top: 20px;
                display: flex;
                width: 200px;
                padding: 8px;
                font-size: 20px;
                font-weight: 700;
                background-color: $BC-yellow;
                border: none;
                border-radius: 30px;
                color: $BC-gray;
                display: flex;
                align-items: center;
                padding-left: 70px;
                margin-left: 120px;
                &:hover{
                    background-color: $BC-blue;
                    color: $TC-yellow
                }
           
            }
        }
    }
}