$BC-white: #F8F9FA;
$BC-gray: #EAECEE;
$BC-blue: #2E3C61;
$BC-yellow: #DAA520;
$TC-black: #000;
$TC-yellow: #DAA520;
$TC-white:#FFF;
$Font:  "Roboto", serif;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: font;
    box-sizing: border-box;
    background-color: $BC-blue;
}
.adminNews-container{
    padding-left: 200px;
    color: $TC-white;
    display: flex;
    flex-direction: column;
    .body{
        display: flex;
        flex-direction: column;
        width: 300px;
        button{
            background-color: $BC-gray;
            border: none;
            width: 100px;
            height: 30px;
            color: $BC-blue;
            margin-left: 35px;
            border-radius: 30px;
            margin-top: 20px;
            cursor: pointer;
            margin-left: 5px;
            &:hover{
                background-color: $BC-yellow;
                color:$TC-white;
            }
        }
    }
    
}