$BC-white: #F8F9FA;
$BC-gray: #EAECEE;
$BC-blue: #2E3C61;
$BC-yellow: #DAA520;
$TC-black: #000;
$TC-yellow: #DAA520;
$TC-white:#FFF;
$Font:  "Roboto", serif;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: font;
    box-sizing: border-box;
    background-color: $BC-blue;
}
.container-preview {
    background-color: $BC-white;
    height: 700px;
    h1{
        margin-top: 0;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 50px;

    }
    #output {
        margin: 10px 10px 10px 10px;

    }
}