$BC-blue-opacity: #186BE8;
$BC-green-opacity: #B5CACE; 
$BC-white: #F8F9FA;
$BC-blue: #2E3C61;
$BC-black-light: #222222; 
$TC-black: #000;
$TC-green: #5EDCD4; 
$TC-yellow: #CB935D;
$TC-white: #FFF;
$TC-gray: #B5CACE; 
$Font: "Raleway", sans-serif;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $Font;
  box-sizing: border-box;
}

.adminNews-container{
    padding-left: 200px;
    color: $TC-black;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    .body{
        display: flex;
        flex-direction: column;
        width: 300px;
        button{
            background-color: $BC-black-light;
            opacity: 0.8; 
            width: 120px;
            height: 30px;
            border: none;
            color: $TC-gray;
            margin-left: 35px;
            border-radius: 30px;
            margin-top: 20px;
            cursor: pointer;
            margin-left: 5px;
            &:hover{
                background-color: $TC-yellow;
                color:$TC-white;
            }
        }
        input{
            width: 400px;
            height: 30px;
            border-radius: 10px;
            border: none;
            
        }
    }
    
}